.terraform/
terraform.tfstate*
/.terraform.tfstate.lock.info
/ansible/roles/geerlingguy.docker/
/ansible/roles/geerlingguy.pip/
/ansible/group_vars/
/ansible/host_vars/
__pycache__/
/ansible/inventory.yml
/prometheus_snapshots/
/.git/rr-cache/
