#!/usr/bin/env bash

set -eou pipefail

emqx eval 'emqx_dashboard_admin:force_add_user(<<"admin">>, emqx_dashboard_admin:hash(<<"{{ emqx_dashboard_default_password }}">>), <<"admin">>).'
emqx eval 'emqx_mgmt_auth:add_app(<<"{{ emqx_api_key }}">>, <<"perftest">>, <<"{{ emqx_api_secret }}">>, <<"perftest">>, true, undefined).'
