[Unit]
Description=EMQTT bench
After=network.target

[Service]
WorkingDirectory={{ emqtt_bench_options.home_dir }}
ExecStart=:{{ emqtt_bench_options.home_dir }}/bin/emqtt_bench {{ loadgen_scenario }} -h {{ loadgen_targets | join(',') }} --ifaddr {{ available_ip_addresses | join(',') }}
LimitNOFILE=2097152
Restart=on-failure

[Install]
WantedBy=multi-user.target
