node {
  name = "{{ emqx_node_name }}"
  cookie = "{{ emqx_node_cookie | default('emqxperformancetest') }}"
  role = "{{ emqx_node_role | default('core') }}"
  data_dir = "{{ emqx_data_dir | default('/var/lib/emqx') }}"
}

cluster {
  name = "{{ emqx_cluster_name | default('emqxcl') }}"
  discovery_strategy = "{{ emqx_cluster_discovery_strategy }}"
{% if emqx_cluster_discovery_strategy == "static" %}
  static {
    seeds = {{ emqx_cluster_static_seeds | to_json }}
  }
{% endif -%}
{% if emqx_cluster_discovery_strategy == "dns" -%}
  dns {
    name = "{{ emqx_cluster_dns_name }}"
    record_type = "{{ emqx_cluster_dns_record_type }}"
  }
{% endif -%}
}

listeners {
  ssl {
    default {
      bind = ":::8883"
      acceptors = 32
    }
  }
  tcp {
    default {
      bind = ":::1883"
      acceptors = 64
      max_connections = infinity
    }
  }
}

log {
  console_handler {
    level = "warning"
  }
  file_handlers {
    default {
      level = "warning"
    }
  }
}

prometheus {
  enable_basic_auth = false
  collectors {
    mnesia = disabled
    vm_msacc = disabled
{% if emqx_prometheus_collectors_enabled %}
    vm_dist = enabled
    vm_memory = enabled
    vm_statistics = enabled
    vm_system_info = enabled
{% endif -%}
  }
{% if emqx_prometheus_push_gateway_enabled %}
  push_gateway {
    enable = true
    headers {}
    interval = "15s"
    job_name = "${name}/instance/${name}~${host}"
    url = "{{ emqx_prometheus_push_gateway_server }}"
  }
{% endif -%}
}

dashboard {
  listeners.http {
    bind = 18083
  }
}

api_key {
  bootstrap_file = "{{ emqx_api_key_bootstrap_file | default('/etc/emqx/bootstrap-api') }}"
}

{% if emqx_license | length > 0 -%}
license {
  key = "{{ emqx_license | trim }}"
}
{% endif -%}

durable_storage {
  messages {
{% if emqx_durable_storage_data_dir is defined %}
    data_dir = "{{ emqx_durable_storage_data_dir }}"
{% endif -%}
  }
}

force_shutdown {
  enable = false
}

sysmon {
  os {
    cpu_check_interval = 60s
    cpu_high_watermark = 80%
    cpu_low_watermark = 60%
    mem_check_interval = 60s
    procmem_high_watermark = 5%
    sysmem_high_watermark = 80%
  }
  vm {
    busy_dist_port = true
    busy_port = true
    large_heap = 32MB
    long_gc = disabled
    long_schedule = 240ms
    process_check_interval = 30s
    process_high_watermark = 80%
    process_low_watermark = 60%
  }
}

mqtt {
  max_mqueue_len = infinity
}

{% if emqx_extra_config is defined %}
{{ emqx_extra_config }}
{% endif -%}
