locustfile = {{ locust_entrypoint }}
{% if loadgen_role == "leader" -%}
master = true
{% else -%}
worker = true
master-host = {{ locust_leader_ip }}
{% endif %}
host = {{ locust_base_url }}
users = {{ locust_options.users | default(10) }}
spawn-rate = {{ locust_options.spawn_rate | default(10) }}
web-port = {{ locust_options.web_port }}
autostart = true
processes = -1
loglevel = INFO
